In [ ]:
TOPIC: String Based Assignment Problem

In [ ]:
1. write a program for reversing a string

In [1]:
#step 1 taking the in[put for a string
str= input(" enter the value")
#step 2 reversing a string
str[::-1]

 enter the value amrit

'tirma'

In [ ]:
2. Check if a string is pailindrome

In [3]:
#step 1 taking the input for  a string
vim=input("enter the value for a string")
#step 2 reversing a stinng
vi=vim[::-1]
# step 3 now checking with the real value 
vim==vi

enter the value for a string rahul

False

In [ ]:
3. Convert the string into uppercase

In [5]:
#step 1 taking the input from a string for converting it into the uppercase
st5=input("enter the value for a string ")
#step 2 converting the sting into uppercase
st5.upper()

enter the value for a string  idot

'IDOT'

In [ ]:
4. Converting a string into a lowercase

In [6]:
#step1 taking the input for a string
sir=input ("enter the value for a input")
#step2 using the founction to caonvert into lowercase
sir.lower()

enter the value for a input AMRIT

'amrit'

In [ ]:
5.count the number of vowels in a string

In [ ]:
#step 1 taking a input for astring
st=input("enter the value for string")
vowel=0;
#step 2  using for loop for calculating the number of vowels in the string
for  ch in st:
     if  ch=='a'or ch=='i' or ch=='e' or ch=='o' or ch=='u':
        vowel =vowel+1
vowel

In [ ]:
6. count the number of consonent in the string

In [2]:
# step 1  Input string
input_string = " count the number of consonant in the string"

# step 2  Define a set of vowels
vowels = "AEIOUaeiou"

#  step 3 Initialize a variable to store the count of consonants
consonant_count = 0

#  step 4 Iterate through each character in the string
for char in input_string:
    # Check if the character is an alphabet and not a vowel
    if char.isalpha() and char not in vowels:
        consonant_count += 1

#  step 5 Print the count of consonants
print("Number of consonants:", consonant_count)

Number of consonants: 24

In [ ]:
7. Remove white space  from string

In [5]:
#step 1 taking the input for the string
st = input(" enter the value for a string ")
newst=''
#step 2  we checking chracter is  the space in string or not 
for ch in st:
    if ch != ' ':
        # step 3 Concatenate the character in newString
        newst = newst + ch
# Step 4  : Printing the new string which does not have any spaces
newst

 enter the value for a string  India will win this world one day

'Indiawillwinthisworldoneday'

In [ ]:
8. Find the length of a string using without len() operator

In [1]:
#step 1  creating the founction   for string  to calculate length

def string_length(s):
# step 2 initializing the count 
    count = 0
# step 3 using the for loop
    for _ in s:
        count += 1
# step 4 printing the count
    return count

# Example usage:
my_string = "Hello, World!"
length = string_length(my_string)
print("Length of the string:", length)

Length of the string: 13

In [ ]:
9. check weather specific word in as string or not

In [9]:
 # step1 taking the input for the strings
st="tiger love to eat soft lamp"
#step2  using the find method for finding the  word
 if st.find("lamp") != -1:
        print("present")
else:
        print("not present")

present

In [ ]:
10. Replace word in a string with another word

In [10]:
# step1 taking the input for the strings
st="pwskills"
#step2  we are using replace method in string for replacing word
newst=st.replace("skills", "learn")
print(st)
print(newst)

pwskills
pwlearn

In [ ]:
11.count the number of occurrence of words in strings

In [21]:
s=input("enter a string")
n=input("enter a word for count")
m=s.count(n)
print(m)

enter a string i love india india india
enter a word for count india

3

In [ ]:
12. finding the first occurence of  word in a string

In [24]:
def find_first_occurrence(string, word):
    # step 1  Split the string into words
    words = string.split()
    
    #  step 2 Iterate through the words and find the first occurrence of the word
    for i, w in enumerate(words):
        if w == word:
            return i

    #  step 3 If the word is not found, return None
    return None

# Example usage
input_string = "This is a sample string. It contains some sample words. This is a simple example."
search_word = "sample"

result = find_first_occurrence(input_string, search_word)

if result is not None:
    print(f"The first occurrence of '{search_word}' is at word index {result}.")
else:
    print(f"'{search_word}' not found in the string.")

The first occurrence of 'sample' is at word index 3.

In [ ]:
13. finding the last occurence of word in string

In [2]:
#step 1 enter the value  for a sting
st1 = input("enter the value for a string")
# step 2 enter the  word for calculating the first occurence of string
word = input("enter the  value  of word")
# step 3 for finding the last occurence  index
index  = st1.rfind(word)
print(index)

enter the value for a string i love india india is good country
enter the  value  of word india

13

In [ ]:
14 split the string in list of words

In [2]:
#step 1 enter the value  for a sting
st1 = input("enter the value for a string")
# splitting strings in list of words
st1.split()

enter the value for a string i love india

['i', 'love', 'india']

In [ ]:
15. join  a list of words into string.

In [6]:
# step 1 creating the world list
word = ["Hello", "World", "Python"]
separator = " "  #step 2  You can specify the separator you want between the words
# step 3 storing the result
result = separator.join(word)
# step 4 printing the result
print(result)

Hello World Python

In [ ]:
16. Convert a string where words are seprated by spaces to one where are seprated by underscore

In [8]:
#step1 taking the in put for the string
st=input("enter  a string ");
#step2 splitting the strings into spaces
words=st.split()
#step2 join the words into the underscore
newst="_".join(words)
#step 3 printing it
print(newst)

enter  a string  i love india and indian girls

i_love_india_and_indian_girls

In [ ]:
17.check string start with the specific word or phrase

In [25]:
#step1 taking the in put for the string
st=input("enter  a string ")
#step 2 enter the word or phrase for checking 
st1=input("enter  a  word or phrase")
if st.startswith(st1):
    print("The string starts with the word or phrase")
else:
    print("The string does not start with the word or phrase")

enter  a string  love love india
enter  a  word or phrase love

The string starts with the word or phrase

In [ ]:
18. check string end with the specific worsd or phrase

In [26]:
#step1 taking the in put for the string
st=input("enter  a string ")
#step 2 enter the word or phrase for checking 
st1=input("enter  a  word or phrase")
if st.endswith(st1):
    print("The string starts with the word or phrase")
else:
    print("The string does not start with the word or phrase")

enter  a string  this ia sbhay he loves to abuse
enter  a  word or phrase abuse

The string starts with the word or phrase

In [ ]:
19. convert the string in to tittle  case

In [7]:
#step1 taking the in put for the string
st=input("enter  a string ")
#step2  using the title method 
st1=st.title()
# step 3 printing the title
print(st1)

enter  a string  abhay good

Abhay Good

In [ ]:
20.find the  longest word in a string

In [29]:
#step1 taking the input for the string
st=input(" enter  a string ")
#step 2 finding the longest in string
longest= max(st.split())
#step3 pritng the longest word
print("Longest word is: ", longest)

 enter  a string  i love india , america, spain , swizerland

Longest word is:  swizerland

In [ ]:
21.find the shortest word in  a string

In [35]:
#step1 taking the input for the string
st=input(" enter  a string ")
#step 2 finding the shortest in string
shortest= min(st.split())
#step3 pritng the shortest word
print("Longest word is: ", shortest)

 enter  a string  we love ashoka and a raj a raj

Longest word is:  a

In [ ]:
22.Reverse the order of words in a string

In [38]:
#step1 taking the input for the string
st=input(" enter  a string ")
#step2  reversing order by using the reverse order
st[::-1]

 enter  a string  i love amrit

'tirma evol i'

23.Check if a string is alphanumeric

In [39]:
#step1 taking the input for the string
st=input(" enter  a string ")
# step2 using the isalnum method 
t=st.isalnum()
print(t)

 enter  a string  i344amrit

True

In [ ]:
24. Extract all digits from a string.

In [8]:
#step1 taking the input for the string
st=input(" enter  a string ")
#step 2 intialiazing the num
num = ""
#step 3 using the for loop in sting st
for c in st:
    if c.isdigit():
        num = num + c
        print("Extracted numbers from the list : " + num)

 enter  a string  i love india 3000

Extracted numbers from the list : 3
Extracted numbers from the list : 30
Extracted numbers from the list : 300
Extracted numbers from the list : 3000

In [ ]:
25. Extract all alphabets from a string.

In [65]:
import re
stringA = "Qwer34^&t%y"

# printing the  Given string
print("Given string : ", stringA)

# Finding the characters
res = "".join(re.findall("[a-zA-Z]+", stringA))

# Result
print("Result: ", res)

Given string :  Qwer34^&t%y
Result:  Qwerty

In [ ]:
26.Count the number of uppercase letters in a string

In [10]:
#step 1 taking the input for string
string=input("Enter string:")
#step 2 intializing the count 
count1=0
# step 3 using for loop for  finding the uppercase letter
for i in string:
#step 4 using conditional operator and upper method
      if(i.isupper()):
            count1=count1+1
#step5  printing the result
print("The number of uppercase characters is:")
print(count1)

Enter string: i Love India

The number of uppercase characters is:
2

In [ ]:
27.Count the number of lowercase letters in a string.

In [12]:
#step1 taking the input  for string
st1= input("enter the string ")
#step 2 intializing the count 
count =0
# step 3  using for loop for identifying the lowercase letters
for i in st1:
#step 4 using conditional operator and upper method
    if(i.islower()):
        count=count+1
#step5  printing the result
print("the number of chracters are lowercase is:")
print(count)

enter the string  amrit

the number of chracters are lowercase is:
5

In [ ]:
28.Swap the case of each character in a string.

In [27]:
#step1 taking the input  for string
st1= input("enter the string ")
#step 2 using the python method for swapiung
st2=st1.swapcase()
# step 3  printing the  result
print(st2)

enter the string   I love Amrit

 i LOVE aMRIT

In [ ]:
29.Remove a specific word from a string.

In [39]:
#step1 taking the input  for string
text = input('Enter a string: ')
#step2 splitting the words
words = text.split()
#step 3 taking the in puts for string
data = input('Enter a word to delete: ')
status = False
#step 4 using for loop for matching a removing words from the string
for word in words:
    if word == data:
#step 5 using remove operator
        words.remove(word)
        status = True
if status:
# step 6 joining the splitted items
    text = ' '.join(words)
#step 7 printing the result 
    print('String after deletion:',text)

Enter a string:   i love amrit , he is good person
Enter a word to delete:  good

String after deletion: i love amrit , he is person

In [ ]:
30. Check if a string is a valid email address.

In [4]:

#step 1 enter the input for string
email= input("enter your email")
#step1 calling the founction
check(email)

import re
 
#step 2 Make a regular expression
#step 3 for validating an Email
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
 
#step4 Define a function for
#step 5 for validating an Email
def check(email):
 
    #step 6  pass the regular expression and the string into the fullmatch() method
    if(re.fullmatch(regex, email)):
        print("Valid Email")
 
    else:
        print("Invalid Email")

enter your email amri34@gmail.com

Valid Email

In [ ]:
31. Extract the username from an email address string.

In [22]:
#step 1 enter the input for string
email= input("enter your email")
#step 2  splitting the data
data = email.split("@")[0]
#step 3  intializing the  result
result =""
for i in data:
        if i.isalpha():
            result+=i
result

enter your email amrit334@gmail.com

'amrit'

In [ ]:
32.Extract the domain name from an email address string.

In [2]:
#step1 enter the input for the string
email = input("enter your email")
#step 2 using slicing techniques
new = email[email.index('@') + 1 : ]
#step 3 result
print(new)

enter your email amrti33445@gmail.com

gmail.com

In [ ]:
33.Replace multiple spaces in a string with a single space.

In [4]:
#step1 enter the input for the string
st1=input("enter the input for a string")
#step 2 using replace method
st2=st1.replace("  "," ")
#step 3 printing the result
print(st2)

enter the input for a string i  love

i love

In [ ]:
34.Check if a string is a valid URL.

In [19]:
#step 1importing re module from python library
import re
#step 2 findall() function used with the conditions which is valid for url in the strings
string = input("enter url")
#step 3 using regular expression for checking url 
regex= 'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\), ]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'
result = re.search(regex,string).group()
#step 4 printing the rtesult
print("The URL is: ", result)

enter url https://purple-waitress-vmlye.pwskills.app/lab/workspaces/auto-m/tree/work/20_August%20_%202023.ipynb

The URL is:  https://purple-waitress-vmlye.pwskills.app/lab/workspaces/auto-m/tree/work/20_August%20_%202023.ipynb

In [ ]:
35.Extract the protocol (http or https) from a URL string.

In [2]:
# step 1 inmporting the library
from urllib.parse import urlparse
# step 2 enter the value for string
st=input("enter the value for string")
#  step 3 Parse the URL
parsed_url = urlparse(st)
# Extract the protocol
protocol = parsed_url.scheme
print("Protocol:", protocol)

enter the value for string https://purple-waitress-vmlye.pwskills.app/lab/workspaces/auto-9/tree/work/20_August%20_%202023.ipynb

Protocol: https

In [ ]:
36. Find the frequency of each character in a string.

In [14]:
input_string = input("enter the string")

# Use Counter to calculate character frequencies
char_frequencies = Counter(input_string)

# Print the character frequencies
for char, freq in char_frequencies.items():
    if char.isalnum():  # Optionally, filter out non-alphanumeric characters
        print(f"Character: '{char}' Frequency: {freq}")

enter the string i love india hate khaliostani sikhs

Character: 'i' Frequency: 6
Character: 'l' Frequency: 2
Character: 'o' Frequency: 2
Character: 'v' Frequency: 1
Character: 'e' Frequency: 2
Character: 'n' Frequency: 2
Character: 'd' Frequency: 1
Character: 'a' Frequency: 4
Character: 'h' Frequency: 3
Character: 't' Frequency: 2
Character: 'k' Frequency: 2
Character: 's' Frequency: 3

In [ ]:
37.Remove all punctuation from a string.

In [5]:

# step 1Enter  string with punctuation
input_string = input("enter the string")

# step 2 Create a translation table to remove punctuation
translator = str.maketrans('', '', string.punctuation)

# step 3 Use translate() to remove punctuation from the string
cleaned_string = input_string.translate(translator)

# step 4 Print the cleaned string
print(cleaned_string)

enter the string i love india "s food

i love india s food

In [ ]:
38.Check if a string contains only digits.

In [7]:
#step 1 enter the input of a string
st=input("enter the string value")
#step 2 checking the string hjave only digit or not
result=st.isdigit()
result

enter the string value amri123

False

In [ ]:
39.Check if a string contains only alphabets.

In [8]:
#step 1 enter the input of a string
st=input("enter the string value")
#step 2 checking the string have only alphabat or not
result=st.isalpha()
result

enter the string value amrit

True

In [ ]:
40.Convert a string to a list of characters.

In [10]:
#step 1 enter the input of a string
st=input("enter the string value")
#step 2  creating list
a=[char for char in st]
#step 3 printing result
print(a)

enter the string value i love amrit

['i', ' ', 'l', 'o', 'v', 'e', ' ', 'a', 'm', 'r', 'i', 't']

In [ ]:
41.Check if two strings are anagrams.

In [27]:
#step 1 enter the input of a string
st=input("enter the string value")
#step2 enter the input for 2nd string
st2= input("enter the value of second string")
# step 3 remove spaces and convert both string chracter into lowercase
st1=st.replace(" ","").lower()
st3=st.replace(" ","").lower()
#step 4  Check if the sorted characters of both strings match
if sorted(st1)==sorted(st3):
    print("yes")
else:
    print("false")

enter the string value race
enter the value of second string care

yes

In [ ]:
42.Encode a string using a Caesar cipher.

In [23]:
# step 1 creating the founction 
def caesar_cipher(text, shift):
    encoded_text = ""
# step 2  using the for loop
    for char in text:
        #  step 3 Check if the character is a letter
        if char.isalpha():
            # step 4  Determine if it's uppercase or lowercase
            is_upper = char.isupper()
            
            #  step 5 Apply the Caesar cipher shift
            shifted_char = chr(((ord(char) - ord('A' if is_upper else 'a') + shift) % 26) + ord('A' if is_upper else 'a'))
            encoded_text += shifted_char
        else:
            #step 6 If the character is not a letter, keep it unchanged
            encoded_text += char

    return encoded_text

#  sample use
original_text = "Hello, World!"
shift_value = 3
encoded_text = caesar_cipher(original_text, shift_value)

print("Original Text:", original_text)
print("Encoded Text:", encoded_text)

Original Text: Hello, World!
Encoded Text: Khoor, Zruog!

In [ ]:
43. Decode a Caesar cipher encoded string.

In [5]:
from collections import Counter
import re

# step 1 cearting a founction
def caesar_cipher_decrypt(encrypted_string, shift):
    decrypted_string = ""

    for char in encrypted_string:
        if char.isalpha():  #step 2  Check if the character is an alphabet letter
            # step 3Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()

            # step 4Calculate the new character code after shifting it backward by 'shift' positions
            char_code = ord(char)
            char_code -= shift

            # step 5 Handle wrapping around the alphabet
            if is_upper:
                if char_code > ord('Z'):
                    char_code += 26
                elif char_code < ord('A'):
                    char_code -= 26
            else:
                if char_code > ord('z'):
                    char_code += 26
                elif char_code < ord('a'):
                    char_code -= 26

            # step 6Append the shifted character to the decrypted string
            decrypted_string += chr(char_code)
        else:
            # step 7 Non-alphabet characters are not modified
            decrypted_string += char

    return decrypted_string

# step 8 Example usage:
encrypted_string = "Khoor, Zruog!"
shift = 3
decrypted_string = caesar_cipher_decrypt(encrypted_string, shift)
print(decrypted_string)

Hello, World!

In [ ]:
44. Find the most frequent word in a string.

In [6]:
#step 1 make a founction 
def most_frequent_word(input_string):
    #step 2Convert the input string to lowercase
    input_string = input_string.lower()

    #step 3 Split the string into words
    words = input_string.split()

    #step 4 Create a dictionary to store word frequencies
    word_freq = {}

    #step 6 Count the frequency of each word
    for word in words:
        if word in word_freq:
            word_freq[word] += 1
        else:
            word_freq[word] = 1

    #step 7 Find the word with the highest frequency
    most_frequent = max(word_freq, key=word_freq.get)

    return most_frequent

#step 8  Example usage:
input_string = "This is a test. This is only a test. Testing, testing, 1, 2, 3."
result = most_frequent_word(input_string)
print("Most frequent word:", result)

Most frequent word: this

In [ ]:
45. Find all unique words in a string.

In [1]:
#step1 enter the string for input
st1=input("enter the string")
#step 2 We convert the input string to lowercase using .lower() to make the comparison case-insensitive.

#step 2.1 We split the string into words using .split(), which splits the string by whitespace.

#step 2.2 We create a set called unique_words to store unique words. Sets automatically remove 
words=st1.lower().split()
unique_words = set(words)
print(unique_words)

enter the string this this is good good boy

{'boy', 'is', 'this', 'good'}

In [ ]:
46.Count the number of syllables in a string.

In [13]:
#step 1 creating the founctions
def count_syllables(word):
    vowels = "aeiouAEIOU"
    count = 0
    previous_char_was_vowel = False
# step 2 using the for loop 
    for char in word:
        if char in vowels:
            if not previous_char_was_vowel:
                count += 1
            previous_char_was_vowel = True
        else:
            previous_char_was_vowel = False

# step 3 Adjust for words ending with 'e'
    if word.endswith('e') and count > 1:
        count -= 1

# step 4 Ensure at least one syllable for very short words
    if count == 0:
        count = 1

    return count

# step 5 Example usage:
word = "example"
syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllable(s).")

The word 'example' has 2 syllable(s).

In [ ]:
47. Check if a string contains any special characters.

In [25]:
import re
# step 1  creating the founction 
def contains_special_characters(input_string):
    # step 2  Define a regular expression pattern to match special characters
    pattern = r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\|/-]'

    # step 3  Use re.search() to find a match in the string
    if re.search(pattern, input_string):
        return True
    else:
        return False

#  step 4 Example usage
test_string = "Hello123!"
result = contains_special_characters(test_string)

if result:
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

In [ ]:
48.Remove the nth word from a string.

In [1]:
def remove_nth_word(input_string, n):
    #  step 1declaring founction aboeve and  Split the string into words using whitespace as the separator
    words = input_string.split()
    
    #step 2  Check if n is a valid index
    if n >= 0 and n < len(words):
        # Remove the nth word
        del words[n]
        
        #step 3 Join the remaining words back into a string with whitespace
        result_string = ' '.join(words)
        return result_string
    else:
        # step4 Return the original string if n is out of bounds
        return input_string

# step 5 Example usage:
input_string = "This is a sample sentence for testing"
n = 2  # Remove the 3rd word ("a")
result = remove_nth_word(input_string, n)
print(result)  # Output: "This is sample sentence for testing"

This is sample sentence for testing

In [ ]:
49.Insert a word at the nth position in a string.

In [2]:
# step 1 taking the input of string 
input_string = "This is a sample sentence for testing"
n = 2  # step 2 Insert the word "new" at the 3rd position (index 2)
word_to_insert = "new"

# step 3  Split the input string into words using whitespace as the separator
words = input_string.split()

# step 4  Check if n is a valid index
if n >= 0 and n <= len(words):
    # step 5 Insert the word at the specified position
    words.insert(n, word_to_insert)

    #step 6  Join the updated list of words back into a string with whitespace
    result_string = ' '.join(words)
    print(result_string)  # Output: "This is new a sample sentence for testing"
else:
    # step 7 If n is out of bounds, print the original string
    print(input_string)

This is new a sample sentence for testing

In [ ]:
50. Convert a CSV string to a list of lists.

In [3]:
csv_string = "John,Doe,30\nJane,Smith,25\nBob,Johnson,35"

# step 1  Split the CSV string into lines
lines = csv_string.split('\n')

#  step 2 Initialize an empty list to store the result
csv_data = []

#  step 3 Iterate through the lines and split each line into fields
for line in lines:
    fields = line.split(',')
    csv_data.append(fields)

#  step 4 Remove any empty lines if present (e.g., at the end)
csv_data = [fields for fields in csv_data if fields]

# step 5 Print the resulting list of lists
for row in csv_data:
    print(row)

['John', 'Doe', '30']
['Jane', 'Smith', '25']
['Bob', 'Johnson', '35']

In [ ]:
TOPIC-                            List Based Practice Problem

In [ ]:
1. Create a list with integers from 1 to 10.

In [22]:
#step 1  crating  a list 
a=[1,2,3,4,5,6,7,8,9,10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
2. Find the length of a list without using the `len()` function.

In [21]:
#step 1  crating  a list 
a=[1,2,3,4,5,6,7,8,9,10]
# step 2 intializing the count with 0
count=0
# step 3  using the for loop 
for i in a:
   count += 1
count

10

In [ ]:
3. Append an element to the end of a list.

In [20]:
#step 1  crating  a list 
a=[1,2,3,4,5,6,7,8,9,10]
# step 2 apppending elementin las
a.append(11)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
4 .Insert an element at a specific index in a list.

In [2]:
#step 1  crating  a list 
a=[1,2,3,4,5,6,7,8,9,10]
# step 2  using inser build in method
a.insert(3,"5")
# step 3 result 
a

[1, 2, 3, '5', 4, 5, 6, 7, 8, 9, 10]

In [ ]:
5. Remove an element from a list by its value.

In [6]:
#step 1  crating  a list 
a=[1,2,3,4,5,6,7,8,9,10]
# step 2 using the remove method
a.remove(4)
a

[1, 2, 3, 5, 6, 7, 8, 9, 10]

In [ ]:
6. Remove an element from a list by its index.

In [8]:
#step 1  crating  a list 
a=[1,2,3,4,5,6,7,8,9,10]
# step 2 using the pop method
a.pop(3)
# step 3 printing the result
a

[1, 2, 3, 5, 6, 7, 8, 9, 10]

In [ ]:
7. Check if an element exists in a list.

In [1]:
#step 1  crating  a list 
a=[1,2,3,4,5,6,7,8,9,10]
# step 2 enter the value for checking iun the list
i= 5
# step 3 using a if else
if i in a:
    print("exist")
else:
    print("not exist")

exist

In [ ]:
8. Find the index of the first occurrence of an element in a list.

In [24]:
#step 1 list 
my_list = [10, 20, 30, 30, 30,40, 50]

# step 2 Element to search for
element_to_find = 30

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

print(f"The first occurrence of {element_to_find} is at index {index}")

The first occurrence of 30 is at index 2

In [ ]:
9. Count the occurrences of an element in a list.

In [12]:
#step 1 list 
my_list = [10, 20, 30, 30, 30,40, 50]

# step 2 Element to search for
k = 30
count=0
for j in my_list:
    if (j==k):
        count +=1
    
count

3

In [ ]:
10. Reverse the order of elements in a list.

In [1]:
# step 1  list
my_list = [10, 20, 30, 30, 30,40, 50]
# step 2 reversing it
my_list.reverse()
my_list

[50, 40, 30, 30, 30, 20, 10]

In [ ]:
11. Sort a list in ascending order.

In [2]:
# step 1  list
my_list = [19, 20,45 ,30, 57,40, 50]
#  step 2 sorting list in ascending order
my_list.sort()
# step 3 printing the result 
my_list

[19, 20, 30, 40, 45, 50, 57]

In [ ]:
12. Sort a list in descending order.

In [3]:
# step 1  list
my_list = [19, 20,45 ,30, 57,40, 50]
#  step 2 sorting list in  descending oreder
my_list.sort(reverse=True)
# step 3 printing the result 
my_list

[57, 50, 45, 40, 30, 20, 19]

In [ ]:
13. Create a list of even numbers from 1 to 20.

In [11]:
# step 1  creating list for input
even_numbers = []
# step 2  using the for loop for even number 1 to 20
for i in range(1, 21):
  if i % 2 == 0:
# step 3 appending the even numbers in list
    even_numbers.append(i)
# step 4 printing the result 
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
# step 1 creating list for odd input 
ood_number = []
# step 2 using the for loop for odd numbers 1  to 20
for i in range(1, 21):
    if i%2 != 0:
# step 3  appending the odd numbers
      ood_number.append(i)
# step 4 printing the result 
print(ood_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
15. Find the sum of all elements in a list.

In [3]:
# step1  list
my = [1,45,66,67,43,23,46]
# step 2   using sum method
total=sum(my)
# step 3 priting the result 
total

291

In [ ]:
16. Find the maximum value in a list.

In [4]:
# step1  list
my = [1,45,66,67,43,23,46]
# step 2   using max method
maxi= max(my)
maxi

67

In [ ]:
17. Find the minimum value in a list.

In [5]:
# step1  list
my = [1,45,66,67,43,23,46]
# step 2   using min method
mini= min(my)
mini

1

In [ ]:
18. Create a list of squares of numbers from 1 to 10.

In [6]:
# step 1 creating list for squres 
squrex=[]
# step 2 using the for loop for 1 to 10
for i in range(1, 11):
    squrex.append(i*i)
    print(squrex)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
19. Create a list of random numbers.

In [11]:

# step 1 Create an empty list
random_numbers = []

# step 2 Iterate through the range 10 times and append a random number to the list each time
for i in range(10):
    random_numbers.append(random.randint(1, 100))

# step 3 Print the list of random numbers
print(random_numbers)

[54, 78, 98, 44, 82, 70, 17, 57, 4, 8]

In [ ]:
20. Remove duplicates from a list.

In [17]:
# step 1 list
my=[1,444,67,78,57,567,567,35,26,28]
# step2   creating anpother list
a=[]
for i in my:
     # step 2Add to the new list
    #step 3  only if not present
    if i not in a:
        a.append(i)
    # step 4 result
print(a)

[1, 444, 67, 78, 57, 567, 35, 26, 28]

In [ ]:
21. Find the common elements between two lists.

In [20]:
# step 1 list
my=[1,444,67,78,57,567,567,35,26,28]
# step2   creating anpother list
a=[1,23,67,89,78,45788,567]
# converting them in sets
set1= set(my)
set2= set(a)
commonelements= set1 & set2
commonelements

{1, 67, 78, 567}

In [ ]:
22. Find the difference between two lists.

In [21]:
# step 1 list
my=[1,444,67,78,57,567,567,35,26,28]
# step2   creating anpother list
a=[1,23,67,89,78,45788,567]
# converting in list 2
s=set(a)
temp=[i for  i in my if  i not  in s ]
temp

[444, 57, 35, 26, 28]

In [ ]:
23. Merge two lists

In [24]:
# step 1 list
my=[1,444,67,78,57,567,567,35,26,28]
# step2   creating anpother list
a=[1,23,67,89,78,45788,567]
p=[]
# step 3 merging two list
p=a+my
p

[1, 23, 67, 89, 78, 45788, 567, 1, 444, 67, 78, 57, 567, 567, 35, 26, 28]

In [ ]:
24. Multiply all elements in a list by 2.

In [26]:
# step 1 list
my=[1,444,67,78,57,567,567,35,26,28]
#step 2 creating another list
u=[]
# step 3 using for loop
for i in my :
    u.append(2*i)
# step 3 printing result
u

[2, 888, 134, 156, 114, 1134, 1134, 70, 52, 56]

In [ ]:
25. Filter out all even numbers from a list.

In [27]:
# step 1 list
my=[1,444,67,78,57,567,567,35,26,28]
# step creatinf another list
c=[]
# step 2using for loop
for i in my :
    if i%2==0:
        c.append(i)
# step  3 result
c

[444, 78, 26, 28]

In [ ]:
26. Convert a list of strings to a list of integers.

In [5]:
# step 1 string lit
l=["1","3","4","10"]
# step 2  converting the list of stings into the list of strings

integer_list=[int(x) for x in l]
integer_list

[1, 3, 4, 10]

In [ ]:
28. Flatten a nested list.

In [8]:
# step 1 creating list
my_list = [[1], [2, 3], [4, 5, 6, 7]]
# step 2 printing the flat list
flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
29.create a list of the first 10 Fibonacci numbers.

In [10]:
# STEP 1 creating  a list 
fib=[]
# step 2  appending value in list
fib.append(0)
fib.append(1)
# step 3  using for loop
for i in range (2,11):
    fib.append(fib[i-1]+fib[i-2])
#  step 4 printing the result 
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
30. Check if a list is sorted.

In [20]:
# step 1 creating the list 
my=[1,2,3,4,5]
# step2 initializaing the flag
flag=0
# step3 using the if -else conditions
if(my == sorted(my)):
    flag = 1
if(flag):
    print ("Yes, List is sorted.")
else :
    print ("No, List is not sorted.")

Yes, List is sorted.

In [ ]:
31 Rotate a list to the left by `n` positions.

In [1]:
# step 1 creatig the founction
def rotate_left(lst,n):
    # step 2 ensure  n is within the range of list 
    n %= len(lst)
    return lst[n:] + lst[:n]
my_list = [1, 2, 3, 4, 5]
n = 2
# step 3 calling founction
result = rotate_left(my_list, n)
print(result)

[3, 4, 5, 1, 2]

In [ ]:
32.Rotate a list to the right by `n` positions.

In [3]:
# step 1 creatig the founction
def rotate_ryt(lst,n):
 # step 2 ensue  n is within the range of list 
    n %= len(lst)
    return lst[-n:] + lst[:-n]
my_list = [1, 2, 3, 4, 5]
n = 2
# step 3 calling founction
result = rotate_ryt(my_list, n)
print(result)

[4, 5, 1, 2, 3]

In [ ]:
33. Create a list of prime numbers up to 50.

In [1]:
# step 1 creating  alist 
primes = []
# step 2 using  for loop 
for num in range(2, 51):  # Start from 2 and go up to 50
    is_prime = True
    
 # step 3 Check if the number is divisible by any number from 2 to the square root of the number
    for i in range(2, int(num ** 0.5) + 1):
 # step 4 using idf foer checking it divisible by i or not
        if num % i == 0:
            is_prime = False
            break
    
    if is_prime:
        primes.append(num)
# step 5 printing the result
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
34. Split a list into chunks of size `n`.

In [6]:
# step 1 intialize a list 
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# step 2 giving chunk size
chunk_size = 3
# step3 creating a chunk list
chunks = []
# step 4 using a for loop
for i in range(0, len(my_list), chunk_size):
    chunk = my_list[i:i + chunk_size]
    chunks.append(chunk)

print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
35.Find the second largest number in a list.

In [1]:
numbers = [10, 5, 8, 20, 15, 30, 25]

# step1 Initialize variables to hold the largest and second largest numbers
largest = second_largest = float('-inf')

# step 2Iterate through the list
for num in numbers:
    #  step 3 If the current number is larger than the largest, update both largest and second_largest
    if num > largest:
        second_largest = largest
        largest = num
    #step 4  If the current number is larger than the second largest but not the largest, update second_largest
    elif num > second_largest and num != largest:
        second_largest = num

# step 5 Check if a second largest number exists
if second_largest != float('-inf'):
    print("The second largest number is:", second_largest)
else:
    print("There is no second largest number in the list.")

The second largest number is: 25

In [ ]:
36. Replace every element in a list with its square.

In [1]:
# step 1 intialise the list
my= [1,2,3,4,5,6,8]
# step 2 using for loop 
for  i in range(len(my)):
# step 3 squaring every element in th list
    my[i]=my[i]**2
print(my)

[1, 4, 9, 16, 25, 36, 64]

In [ ]:
37.Convert a list to a dictionary where list elements become keys and their
indices become values.

In [2]:
# step 1 sample list
my_list = ["apple", "banana", "cherry", "date"]
# step 2 # Initialize an empty dictionary
my_dict = {}

# step 3 Iterate through the list and populate the dictionary
for index, item in enumerate(my_list):
    my_dict[item] = index

print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [ ]:
38.Shuffle the elements of a list randomly.

In [3]:
import random

#step 1
my_list = [1, 2, 3, 4, 5]

#step 2 Custom shuffle using Fisher-Yates algorithm
for i in range(len(my_list) - 1, 0, -1):
    j = random.randint(0, i)  #  step 3 Generate a random index between 0 and i (inclusive)
    my_list[i], my_list[j] = my_list[j], my_list[i]  #step 3  Swap the elements at i and j

print(my_list)

[4, 1, 3, 5, 2]

In [ ]:
39. Create a list of the first 10 factorial numbers.

In [10]:
# step1  intilaize value in factorial and result 
factorial=[1]
result=1
# step 2 calculate the factgorial from (2,11)
for i in range(2,11):
    
# step 3 multiply current list  by next number  
    result*=i  # step 3 multiply current list  by next number
    factorial.append(result)  # Append the result to the list

print(factorial)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
40.Check if two lists have at least one element in common.

In [20]:
# step 1 creating the 2  sample list
my=[12,45,67,38]
mi=[234,45,67,38]
# step 2  comnsidering  has common false
hascommon=False
# step 3  using the for loop
for i in my:
        if i  in mi:
            hascommon=True
            break
# step 3 using the if -else condition            
if hascommon:
    print("list have atleat common")
else:
    print("list does not have common")

list have atleat common

In [ ]:
41.Remove all elements from a list.

In [18]:
#step 1 creating  a the list 
listi=[233444,5677,5677,3455,987654]
#step 2  using the clear method
listi.clear()
# step 3 prointing the result 
listi

[]

In [ ]:
42. Replace negative numbers in a list with 0.

In [1]:
# step1  sample list
liso=[1,223,-90,-890,45]
# step 2 using the for loop 
for i in range(len(liso)):
    if  liso[i]<0:
        liso[i]=0
# step 3 printing the result
liso

[1, 223, 0, 0, 45]

In [ ]:
43. Convert a string into a list of words.

In [2]:
# step 1 sample string
amri="i love india"
# step 2 using the split founnction which automatically convert string into list
my= amri.split()
# step 3 
my

['i', 'love', 'india']

In [ ]:
 44. Convert a list of words into a string.

In [4]:
# step 1 sample list with  words
lim=["i love girls i want beautiful wife"]
# step 2 using join method
mi=''.join(lim)
# step 3 print result 
mi

'i love girls i want beautiful wife'

In [ ]:
45. Create a list of the first `n` powers of 2.

In [8]:
# step 1 taking the the input for n
n=int(input("enter the value for n "))
# step 2 using for loop
m=[2**i for i in range (n)]
m

enter the value for n  5

[1, 2, 4, 8, 16]

In [ ]:
46. Find the longest string in a list of strings.

In [1]:
# step 1  sample string 
string_list = ["apple", "banana", "cherry", "date"]
# step 2  finding longest string
longest_string = max(string_list, key=len)
# step 3  printing the  result 
print("The longest string is:", longest_string)

The longest string is: banana

In [ ]:
47. Find the shortest string in a list of strings.

In [2]:
# step 1 sample string
string_list = [ "apple"," mango", "rainbow" , " rainbow", "rice" ]
# step 2  finding the shortest string
shortest_string = min(string_list, key=len)
# step 3  printing the result 
print("the shortest string  is:", shortest_string)

the shortest string  is: rice

In [ ]:
48. Create a list of the first `n` triangular numbers.

In [ ]:
# step 1  creating the founction
def generate_triangular_numbers(n):
    triangular_numbers = []
    current_sum = 0
# step 2  using the for loop 
    for i in range(1, n + 1):
        current_sum += i
        triangular_numbers.append(current_sum)
# step 3 returning the value  
    return triangular_numbers
# step 4  writing the code for 
n = int(input("Enter the value of n: "))  # Input the number of triangular numbers you want
triangular_numbers_list = generate_triangular_numbers(n)
print("The first", n, "triangular numbers are:", triangular_numbers_list)

Enter the value of n:  7

The first 7 triangular numbers are: [1, 3, 6, 10, 15, 21, 28]

In [ ]:
49. Check if a list contains another list as a subsequence.

In [19]:
# step 1 creating the founction 
def is_subsequence(list1, list2):
    j = 0
# step 2 using the for loop
    for i in range(len(list1)):
# step 3  using the if -else  condition      
        if list1[i] == list2[j]:
             j += 1
        if j == len(list2):
             return True
             return False
is_subsequence([1, 2, 4,3], [4, 3])

True

In [ ]:
50. Swap two elements in a list by their indices.

In [32]:
 #step 1 #Declare a list
list = [1, 2, 3, 4, 5]

#  step 2 Swap the elements at indexes 1 and 3
list[1], list[3] = list[3], list[1]

# step 3 Print the list
print(list)

[1, 4, 3, 2, 5]

In [ ]:
TOPIC-                            Tuple  Based Practice Problem

In [ ]:
1. Create a tuple with integers from 1 to 5.

In [14]:
# step 1 intialiazing the value for  tuple
my_tuple = (1, 2, 3, 4, 5)
# step 2 printing the result 
my_tuple

(1, 2, 3, 4, 5)

In [ ]:
2. Access the third element of a tuple.

In [3]:
# step 1 intialise  the tuple 
tup =(" i" ,"love india"," and", "america")
# step 2 acessing the specific element  of a tuple 
print(tup[1])

love india

In [ ]:
3. Find the length of a tuple without using the `len()` function.

In [8]:
# step 1 initializing the  tuple 
tom = (1,2,3,5,7,9)
# step 2 for initializng  the count 
count =0
# step 3  using for loop
for i in  tom:
        count += 1
# step 3 printing result 
count

6

In [ ]:
4. Count the occurrences of an element in a tuple.

In [22]:
#  step 1 Define a tuple
my_tuple = (1, 2, 2, 3, 4, 2, 5, 2)

#  step 2 Count the occurrences of an element in the tuple
element_to_count = 2
count = my_tuple.count(element_to_count)
 
#  step 3 Print the count
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 2 appears 4 times in the tuple.

In [ ]:
 5. Find the index of the first occurrence of an element in a tuple.

In [14]:
#step 1 Define a tuple
my_tuple = (1, 2, 2, 3, 4, 2, 5, 2)
#step 2 count the occurence of first index
element=int(input("enter the element "))
#step 3 using index method 
indexi= my_tuple.index(element)
print(indexi)

enter the element  2

1

In [ ]:
 6. Check if an element exists in a tuple.

In [15]:
 #step 1 Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# step 2 Element to check for
element_to_check = int (input(" enter the element to check "))

# step 3 Initialize a variable to store the result
element_exists = False

#  step 4 Iterate through the tuple to check if the element exists
for item in my_tuple:
    if item == element_to_check:
        element_exists = True
        break 
#  step 5  Stop searching once the element is found

if element_exists:
    print(f"The element {element_to_check} exists in the tuple.")
else:
    print(f"The element {element_to_check} does not exist in the tuple.")

 enter the element to check  2

The element 2 exists in the tuple.

In [ ]:
 7.Convert a tuple to a list.

In [20]:
# step 1 sample tuple 
tup=(1,2,3,44555)
# step 2 converting it into the list 
l = list(tup)
# step 3 printing the result 
l

[1, 2, 3, 44555]

In [ ]:
8. Convert a list to a tuple.

In [22]:
#  step 1 sample list 
l=[1,2,3,4,45]
# step 2 converting it into the tuple 
tupi=tuple(l)
# step 3 printing the result 
tupi

(1, 2, 3, 4, 45)

In [ ]:
9. Unpack the elements of a tuple into variables.

In [27]:
#  step 1  packing the tuple  
a= ("swami keshvanand Institute", 200000 ," engneering")
# step 2  unpacking  a tuple 
(college, student, field)=a
# step 3 printing the college name, no. of students,  type of  study 
print(college)
print(student)
print(field)

swami keshvanand Institute
200000
 engneering

In [ ]:
10. Create a tuple of even numbers from 1 to 10.

In [34]:
# step 1 creating a tuple for  initializing  the value
even=()
# step 2 using the for loop 
for i in range(1,11):
    if i%2==0:
         even+=(i,)  
even

(2, 4, 6, 8, 10)

In [ ]:
11. Create a tuple of odd numbers from 1 to 10.

In [35]:
# step 1 creating a tuple ' for intialiazing the value
odd=()
# step 2 using the for loop 
for i in range (1,11):
    if i%3==0:
        odd+=(i,)
odd

(3, 6, 9)

In [ ]:
12. Concatenate two tuples.

In [37]:
# step 1 creating 2 tuple for concatenate and  crating tup to strorng the  concatenate value
tup1=(1,2,3,4,5)
tup2=(1,234,456,334)
tup=()
# step 2 concatenating the tuple
tup=tup1 + tup2
tup

(1, 2, 3, 4, 5, 1, 234, 456, 334)

In [ ]:
13. Repeat a tuple three times.

In [38]:
# step 1 creaqting a tuple 
tup=(1,2,3,4)
# step 2 storing the value in the repeated tuple 
repeatedtuple=3*tup
# step 3 printing the  repeated tuple
repeatedtuple

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
14. Check if a tuple is empty.

In [39]:
# step 1 creaqting a tuple 
tup=()
# step 2  using if and else
if not tup:
    print("tuple is  empty")
else:
    print("tuple is  not empty")

tuple is  empty

In [ ]:
15. Create a nested tuple.

In [42]:
# step 1 creating the tuple 
nested_tup=((1,2,3,4),(13,45,67,90),(1,2,3,44,))
nested_tup

((1, 2, 3, 4), (13, 45, 67, 90), (1, 2, 3, 44))

In [ ]:
16. Access the first element of a nested tuple.

In [16]:
# step 1 creating the tuple 
nested_tup=((1,2,3,4),(13,45,67,90),(1,2,3,44,))
# step2  aceesing the  first element of tuple
element=nested_tup[2][2]
# step 3  printing the result
element

3

In [ ]:
17. Create a tuple with a single element.

In [46]:
# step 1 initializing the tuple from  single element
am=(1,)
# step 2  printing the result 
print(am)

1

In [ ]:
18. Compare two tuples.

In [48]:
# step 1 creating 2 tuple for comparison
tup1=(1,2,3,4,5)
tup2=(1,234,456,334)
#  step 1 Compare for equality
if tup1 == tup2:
    print("tup1 and tup2 are equal")
else:
    print("tup1 and tup2 are not equal")

#  step 2 Compare for inequality
if tup1 != tup2:
    print("tup1 and tup2 are not equal")
else:
    print("tup1 and tup2 are equal")

# step 3 Compare for greater than
if tup1 > tup2:
    print("tup1 is greater than tup2")
else:
    print("tup1 is not greater than tup2")

#  step 4 Compare for less than
if tup1 < tup2:
    print("tup1 is less than tup2")
else:
    print("tup1 is not less than tup2")

tup1 and tup2 are not equal
tup1 and tup2 are not equal
tup1 is not greater than tup2
tup1 is less than tup2

In [ ]:
19. Delete a tuple.

In [56]:
# step 1 initializing the value in the tuple
tup=('tutorials', 'point', 2022,True)
# step 2 printing the tuple abefore deletion
print(tup)
# step3 using the del method in python
del(tup)
# step 4 printing  after deletion 
print("After deleting the tuple:")
# step 5 printing the result

print(tup)

('tutorials', 'point', 2022, True)
After deleting the tuple:

NameError: name 'tup' is not defined

In [ ]:
20. Slice a tuple.

In [57]:
# step 1 sample tuple 
tupi=(1,2,3,45,56,3,4,5,90,45,67)
# step 2  slicing the tuple
sliced=tupi[2:5]
# step 3 printing the result 
sliced

(3, 45, 56)

In [ ]:
21. Find the maximum value in a tuple.

In [59]:
# step 1 sample tuple 
tupi=(1,2,3,45,56,3,4,5,90,45,67)
# step 2 using the max method
t=max(tupi)
# step 3 printing the result 
t

90

In [ ]:
23. Convert a string to a tuple of characters.

In [2]:
# step 1 sample tuple
st=input(" enter the value for string")
# step 2 converting string into tuple
tup=tuple(st)
# step 3 printing the result
tup

 enter the value for string i love amrit

('i', ' ', 'l', 'o', 'v', 'e', ' ', 'a', 'm', 'r', 'i', 't')

In [ ]:
24. Convert a tuple of characters to a string.

In [5]:
# step 1 sample tuple  of chracters
tup=('a', 'm','r','i','t')
# step 2 converting tuple into string
st=''.join(tup)
# step 3 printing the result
st

'amrit'

In [ ]:
25. Create a tuple from multiple data types.

In [6]:
# step 1 crating a sample tuple
tuplee=('amrit',3.14,True,1)
# step 2  print result
tuplee

('amrit', 3.14, True, 1)

In [ ]:
26. Check if two tuples are identical.

In [9]:
# step 1 create a sample tuples
tumpi=(1,2,3,4)
tumpe=(1,2,3,45)
# step 2 using the if else condition
if tumpi==tumpe:
    print(" tuples are identical")
else:
     print(" tuples are not identical")

 tuples are not identical

In [ ]:
27. Sort the elements of a tuple.

In [11]:
# step 1 create a sample tuple 
tumpi=(5,6,7,32,4)
# step 2  converting it into the the list 

tump=tuple(sorted(tumpi))
# step 3 printing the result
tump

(4, 5, 6, 7, 32)

In [ ]:
28. Convert a tuple of integers to a tuple of strings.

In [13]:
# step 1 sample tuple of  integers
tum=(1,2,44,56,65)
# step 2   creating the string for initailizing the value in sting
tuple_of_strings = ()
# step 3 using the for loop
for num in tum:
    tuple_of_strings += (str(num),)
# step 4  printing the result

print(tuple_of_strings)

('1', '2', '44', '56', '65')

In [ ]:
29. Convert a tuple of strings to a tuple of integers.

In [6]:
# step 1 sample tuple of   strings
tum=('1','2','3','4')
# step 2  creating the  tuple for integers
inti=()
# step 3  creating  the  tuple 
for i in tum:
        inti+=(int(i),)
print(inti)

(1, 2, 3, 4)

In [ ]:
30. Merge two tuples.

In [8]:
# step 1 creating 2 sample tuple
tup1=(1,2,3,4,5)
tup2= (1,3,56,23)
# step 2 merging the tuple
tupli= tup1+tup2
# step 3 printing the result
tupli

(1, 2, 3, 4, 5, 1, 3, 56, 23)

In [ ]:
31. Flatten a nested tuple.

In [1]:
# step1  sample nested tuple 
nested_tuple = ((1, 2, 3), (4, 5), (6, (7, 8)))

# step 2 making flateend tuple for taking the input 
flattened_tuple = tuple(item for sublist in nested_tuple for item in (sublist if isinstance(sublist, tuple) else (sublist,)))
# step 3  printing result
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, (7, 8))

In [ ]:
32. Create a tuple of the first 5 prime numbers.

In [2]:
# step 1  crating tuple for taking the input
prime_numbers = ()
# step 2 initialiazing the count 
count = 0
# step 2  start checking from 2 
num = 2  
# step 3  using the  while  loop to find the number till 5
while count < 5:
    is_prime = True
# step 4 t checks for primality by iterating through potential divisors from 2 to the square root of the number being tested.
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers += (num,)
        count += 1
    num += 1

print("Tuple of the first 5 prime numbers:", prime_numbers)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [ ]:
33. Check if a tuple is a palindrome.

In [2]:
# step 1 sample tuple   for checking its is pailndromne
samp=(1,2,3,4,500)
# step 2   making another temp tuple
temp=()
# step 3 storing the value in temp after reversing
temp=samp[::-1]
# step 3  using the if else condition and printing the result 
if samp!=temp:
    print(" samp is  not pailndrome")
else:
    print(" samp is palindrome")

 samp is  not pailndrome

In [ ]:
34. Create a tuple of squares of numbers from 1 to 5.

In [5]:
# step 1  using  the for loop  storing the squre values in the tuple
samp=tuple(x**2 for x in range(1,6))
# step 2  giving the result
samp

(1, 4, 9, 16, 25)

In [ ]:
35. Filter out all even numbers from a tuple.

In [11]:
# step 1  crating the samplre tuple
samp=(123,24,55,67,298)
# step 2 using the for loop in list 
sampi=[i for i in samp if i%2==0]
# step 3  converting  list back it into the tuple 
filterr=tuple(sampi)
# step 4 printing the result
filterr

(24, 298)

In [ ]:
36. Multiply all elements in a tuple by 2.

In [12]:
# step 1  crating the sample tuple
samp=(123,24,55,67,298)
# step 2 multiply by 3
samp*3
# step 3  printing the  result
samp

(123, 24, 55, 67, 298)

In [ ]:
37. Create a tuple of random numbers.

In [15]:
# step 1 importing the random library
import random
# step 2 creating a tuple of random_ tuple We use a list comprehension to generate 5 random numbers between 1 and 100 using the random.randint() function.
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
# step 3  IN Above line  Finally, we convert the list of random numbers into a tuple using the tuple() constructor, and random_tuple contains the 5 random numbers.
# step 34 printing the result 
print(random_tuple)

(38, 86, 49, 31, 17)

In [ ]:
38. Check if a tuple is sorted.

In [23]:
# step 1  crating the samplre tuple
samp=(123,24,55,67,298)
# step2 converting it into  list
sampl=list(samp)
sampl.sort()
# step 3 now agian converting it into the tuple
sampi= tuple(sampl)
# step 4  using the if else condition 
if samp==sampi:
    print(" the tuple is sorted")
else:
    print(" tuple is not sorted")

 tuple is not sorted

In [ ]:
39. Rotate a tuple to the left by `n` positions.

In [35]:
# step 1 creatig the founction
def rotate_left(tup,n):
    # step 2 ensure  n is within the range of  tuple
    n %= len(tup)
    # step 3 slicing
    return tup[n:] + tup[:n]
tup = (1, 2, 3, 4,5)
n = 2#step 4 Number of positions to rotate  left
# step 5 calling founction
result = rotate_left(tup, n)
print(result)

(3, 4, 5, 1, 2)

In [ ]:
40. Rotate a tuple to the right by `n` positions.

In [36]:

# step 1 creatig the founction
def rotate_right_tuple(tup, n):
     # step 2 ensure  n is within the range of  tuple
    n = n % len(tup) 
    # step 3 slicing according to n
    return tup[-n:] + tup[:-n]

# Example usage:
original_tuple = (1, 2, 3, 4, 5)
n = 2  #step 4 Number of positions to rotate right
# step 5 calling founction
rotated_tuple = rotate_right_tuple(original_tuple, n)
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [ ]:
41. Create a tuple of the first 5 Fibonacci numbers.

In [1]:
#  step 1 Function to generate the first n Fibonacci numbers and return them as a tuple
def generate_fibonacci(n):
#step 2  Initialize with the first two Fibonacci numbers
    fibonacci = [0, 1]  
    while len(fibonacci) < n:
# step 3  Calculate the next Fibonacci number
        next_fib = fibonacci[-1] + fibonacci[-2]  
# step 4   Add it to the list

        fibonacci.append(next_fib)  

    return tuple(fibonacci)

#  step 5 Generate the first 5 Fibonacci numbers and store them in a tuple
fibonacci_tuple = generate_fibonacci(5)

# step 6  Print the tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [ ]:
42. Create a tuple from user input.

In [10]:
# step 1  Prompt the user to enter a tuple of numbers.
numbers = input("Enter a tuple of numbers: ")

# step 2  Convert the user input into a list.
numbers_list = numbers.split()

# step 3  Use the `tuple()` function to convert the list into a tuple.
numbers_tuple = tuple(numbers_list)

#  step 4 Print the tuple to the console.
print(numbers_tuple)

Enter a tuple of numbers:  1 2 3

('1', '2', '3')

In [ ]:
43. Swap two elements in a tuple.

In [12]:
# step 1 creating  the sample tuple 
samp=(1,2,3,445,56)
# step 2 converting the tuple into the list
ls=list(samp)
# step 3 swaping the elemnts in list 
ls[1],ls[2]=ls[2],ls[1]
# step 4  converting the list in tuple 
my=tuple(ls)
# step 5 result 
my

(1, 3, 2, 445, 56)

In [ ]:
44. Reverse the elements of a tuple.

In [13]:
# step 1 creating  the sample tuple 
samp=(1,2,3,445,56)
# step 2 converting the  tuple into the list
ls=list(samp)
# step 3 using the reverse method of strings
ls.reverse()
# step 4 converting the list into tuple
tim=tuple(ls)
# step 5 printing the result
tim

(56, 445, 3, 2, 1)

In [ ]:
45. Create a tuple of the first `n` powers of 2.

In [17]:
#  step 1 taking the input for n
n = int(input("Enter the value of n: "))

#  step 2 Initialize an empty tuple to store the powers of 2
powers_of_2 = ()

#  step 3 Generate the first n powers of 2 and add them to the tuple
for i in range(n):
    power = 2 ** i
    powers_of_2 += (power,)

# step 4  Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2)

Enter the value of n:  2

Tuple of the first 2 powers of 2: (1, 2)

In [ ]:
46. Find the longest string in a tuple of strings.

In [19]:
# step 1 creating the sample tuple 
samp=("amrit","banana"," abhay ", " yashi ", "saloni")
# step 2  creating  a variable  itiliazing it
longest=""
# step 3 using the for loop
for  string in samp:
    if len(string) > len(longest):
        longest=string
print("Longest string in the tuple:", string)

Longest string in the tuple: saloni

In [ ]:
47. Find the shortest string in a tuple of strings.

In [23]:
# step 1 creating the sample tuple 
samp=("amrit","banana", "saloni")
# step 2  creating  a variable and assuming first string the shortest
shortest=samp[0]
# step 3 using the for loop
for  string in samp:
    if len(string) < len(shortest):
        shortest=string
print("shortest string in the tuple:", shortest)

shortest string in the tuple: amrit

In [ ]:
48. Create a tuple of the first `n` triangular numbers.

In [ ]:
# step 1 taking the input 
n = int(input("Enter the value of n: "))

# step 2  Initialize an empty tuple to store the triangular numbers
triangular_numbers = ()

# step 3  Generate the first n triangular numbers and add them to the tuple
for i in range(1, n + 1):
    triangular_number = (i * (i + 1)) // 2
    triangular_numbers += (triangular_number,)

# step 4 Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers)

Enter the value of n:  4

Tuple of the first 4 triangular numbers: (1, 3, 6, 10)

In [ ]:
49. Check if a tuple contains another tuple as a subsequence.

In [25]:
# step 1  Example tuples
larger_tuple = (1, 2, 3, 4, 5, 6)
smaller_tuple = (3, 4, 5)

# step 2  Initialize variables for indices
i = 0  #  Index for the larger tuple
j = 0  # Index for the smaller tuple

while i < len(larger_tuple) and j < len(smaller_tuple):
    if larger_tuple[i] == smaller_tuple[j]:
        j += 1
    i += 1

#  step 3 Check if the smaller tuple is a subsequence
if j == len(smaller_tuple):
    print("The smaller tuple is a subsequence of the larger tuple.")
else:
    print("The smaller tuple is not a subsequence of the larger tuple.")

The smaller tuple is a subsequence of the larger tuple.

In [ ]:
50. Create a tuple of alternating 1s and 0s of length `n`.

In [26]:
#step 1 taking the input 
n = int(input("Enter the length of the tuple: "))

#  step 2 Create a tuple of alternating 1s and 0s
alternating_tuple = tuple((i % 2) for i in range(n))

# step 3 Print the tuple
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Enter the length of the tuple:  3

Tuple of alternating 1s and 0s: (0, 1, 0)

In [ ]:
TOPIC - SET BASED PRACTICE PROBLEM

In [ ]:
1. Create a set with integers from 1 to 5.

In [1]:
# step 1  creating the set s
s = {1,2,3,4,5}
# step 2 printing the result
print(s)

{1, 2, 3, 4, 5}

In [ ]:
2. Add an element to a set.

In [2]:
# step 1 creatinf the sample set
s = {1,2,3,4,5}
# step 2  adding the element  8in s
s.add(8)
# step 3 printing the result
print(s)

{1, 2, 3, 4, 5, 8}

In [ ]:
3. Remove an element from a set.

In [3]:
# step 1 creating  the sample list
s = {1,2,3,4,5}
# step 2 removing the element 5 from the
s.remove(5)
# step 3 printing aftewr the result
print(s)

{1, 2, 3, 4}

In [ ]:
4. Check if an element exists in a set.

In [8]:
# step 1 creating  the sample  set 
s = {1,2,3,4,5}
# step 2 element  for whom we will check for
element=3
# step 3 using the flag and inidicate weather the element is exist or not 
element_exist=False
# step 4 using the for loop 
for  i in s:
    if i==element:
        element_exist = True
        break # step 5 exit the loop as element is found
if element_exist:
    print("f{element} exist in set")
else:
    print(f"{element_to_check} does not exist in set")

f{element} exist in set

In [ ]:
5. Find the length of a set without using the `len()` function.

In [3]:
# step 1 creating the sample set
set_var = {"a", "b", "c"}
# step 2 initializ the count 
count = 0
# step 3 using the for loop 
for element in set_var:
    count += 1
#step 4 printing the result
print(count)

3

In [ ]:
6. Clear all elements from a set.

In [7]:
# step 1 creating the sample set
set_var = {"a", "b", "c"}
# step2 using the clear method  of list
set_var.clear()
# step 3 printing the result
print(set_var)

set()

In [ ]:
7. Create a set of even numbers from 1 to 10.

In [14]:
# step 1 creatinfg the set which will have the even numbers using for loop inside it having range 1 to 11
seti={i for i in range(1,11) if  i%2==0}
# step 2 printing  the result
seti

{2, 4, 6, 8, 10}

In [ ]:
8. Create a set of odd numbers from 1 to 10.

In [15]:
# step 1 creatinfg the set which will have the even numbers
seti={i for i in range(1,11) if  i%3==0}
# step 2 printing  the result
seti

{3, 6, 9}

In [ ]:
9. Find the union of two sets.

In [16]:
# step 1 creating the sample  set  1 and 2
set_var = {"a", "b", "c"}
setm= {"f","g"," h"}
# step 2 using  the union method
set_var.union(setm)

{' h', 'a', 'b', 'c', 'f', 'g'}

In [ ]:
10. Find the intersection of two sets.

In [1]:
# step 1 creating the sample  set  1 and 2
set_var = {"a", "b", "c"}
setm= {"f","g"," h", "a"}
# step 2 using in built intersection method
set_var.intersection(setm)

{'a'}

In [ ]:
11. Find the difference between two sets.

In [5]:
# step 1 creating the sample  set  1 and 2
set_var = {"a", "b", "c"}
setm= {"f","g"," h", "a"}
# step 2 using the  built in diffrence method
setm.difference(set_var)

{' h', 'f', 'g'}

In [ ]:
12. Check if a set is a subset of another set.

In [7]:
# step 1 creating the sample  set  1 and 2
set_var = {"a", "b", "c", "f"," g", "h","a"}
setm= {"f","g"," h", "a"}
# step 2 using the subset method
setm.issubset(set_var)

False

In [ ]:
13. Check if a set is a superset of another set.

In [10]:
# step 1 Define the 2  sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

#  step 2 Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# step 3  Print the result
print(is_superset)

True

In [ ]:
14. Create a set from a list.

In [11]:
# step 1 creating the list
li=[1,2,3,4,5]
# step 2 converting the list into the set
seti=set(li)
# step 3 printing the result
seti

{1, 2, 3, 4, 5}

In [ ]:
15.Convert a set to a list.

In [13]:
#step 1 creating the set
sem={1,2,3,54,5}
# step 2  converting the set into list
li=list(sem)
# step 3  printing the result
li

[1, 2, 3, 5, 54]

In [ ]:
16. Remove a random element from a set.

In [1]:
#step 1 creating the sample set
seti={1,2,3,4}
# step 2  using the pop method for taking out 
remove=seti.pop()
# step 3 printing the random element remove from set
print(remove)

1

In [ ]:
17. Pop an element from a set.

In [3]:
#step 1 creating the sample set
seti={1,2,3,4} 
# step 2 usiong the  remove  method for removing the an element in a set
seti.remove(1)
#step 3 printing the result
seti

{2, 3, 4}

In [ ]:
18. Check if two sets have no elements in common.

In [4]:
# step 1 creating the  2 sample set 
my= {1,2,3,4,5,6}
mi={12,34,5,6}
# step 2 using  disjoint method
are_disjoint =my.isdisjoint(mi)

#  step 3 Print the result
if are_disjoint:
    print("The sets have no elements in common.")
else:
    print("The sets have at least one element in common.")

The sets have at least one element in common.

In [ ]:
19. Find the symmetric difference between two sets.

In [13]:
# step 1 Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#  step 2 Find the symmetric difference
symmetric_diff = set1.symmetric_difference(set2)

#  step 3 Print the result
print(symmetric_diff)

{1, 2, 3, 6, 7, 8}

In [ ]:
20. Update a set with elements from another set.

In [14]:
# step 1 Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
# step 2 using the update method
set1.update(set2)
# step 2 printing the redult
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
21. Create a set of the first 5 prime numbers.

In [19]:
#  step 1 Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# step 2  Create a set to store the first 5 prime numbers
prime_numbers = set()
 #  step 3 Start with the first prime number, which is 2
number = 2

while len(prime_numbers) < 5:
    if is_prime(number):
        prime_numbers.add(number)
    number += 1

# step 4  Print the set of the first 5 prime numbers
print(prime_numbers)

{2, 3, 5, 7, 11}

In [ ]:
22. Check if two sets are identical.

In [4]:
#step 1  creating 2 sample sets
set1={1,2,3,4}
set2={1,2,3,4,5}
# step 2 using the if else condition
if set1==set2:
    print(" sets are identical")
else:
    print(" sets are not identical")

 sets are not identical

In [ ]:
23. Create a frozen set.

In [10]:
#step 1  creating 1 sample sets
set1={1,2,3,4}
# step 2 using the frozen set method

sto=frozenset(set1)
#   Attempt to modify the frozen set (will result in an error)
#  This will raise a 'TypeError' because frozen sets are immutable
# step 3 printing the result
print(sto)

frozenset({1, 2, 3, 4})

In [ ]:
24. Check if a set is disjoint with another set.

In [11]:
#step 1  creating 2 sample sets
set1={1,2,3,4}
set2= {1,2,3,4,5,6,7}
# step 2 using the disjoint method
seti= set1.isdisjoint(set2)
# step 3 using the if else
if seti:
    print("set are disjoint")
else:
    print(" seti are not disjoint")

 seti are not disjoint

In [ ]:
25. Create a set of squares of numbers from 1 to 5.

In [2]:
# step 1 creating the set for keeping th squres of numbers
setq={i**2 for i in range(1 , 6)}
# step 2 printing thw squre set
setq

{1, 4, 9, 16, 25}

In [ ]:
26. Filter out all even numbers from a set.

In [6]:
# step 1 creating the  sample set
s={1,2,3,4,5,8,12,9,10}
# step 2 converting the set  into the list
l=list(s)
M=list()
# step 3 using the for loop 
for i in l :
    if i%2 == 0:
        M.append(i)
# step 4 coverting the list in set
seti=set(M)
seti

{2, 4, 8, 10, 12}

In [ ]:
27. Multiply all elements in a set by 2.

In [13]:
#  step 1 Create a set
my_set = {1, 2, 3, 4, 5}

#step 2 Multiply all elements in the set by 2 using a set comprehension with the help of for loop
doubled_set = {x * 2 for x in my_set}

#  step 3  Print the resulting set
print(doubled_set)

{2, 4, 6, 8, 10}

In [ ]:
28. Create a set of random numbers.

In [14]:
import random

#  step 1 Set the seed for reproducibility (optional)
#  step 2 random.seed(42)

#  step 3 Create a set of random numbers
random_set = set()

#  step 4 Generate and add random numbers to the set
for _ in range(10):  #  step 5 Change the range to control the number of random numbers
    random_number = random.randint(1, 100)  #  step 6 Generate a random integer between 1 and 100 (adjust as needed)
    random_set.add(random_number)
    # step 7 printing the result 
    print(random_set)

{51}
{51, 30}
{51, 52, 30}
{51, 52, 30, 7}
{51, 52, 30, 7}
{7, 9, 51, 52, 30}
{65, 7, 9, 51, 52, 30}
{65, 7, 9, 51, 52, 30}
{65, 7, 9, 73, 51, 52, 30}
{65, 7, 9, 73, 51, 52, 55, 30}

In [ ]:
29. Check if a set is empty.

In [18]:
# step 1 creating  the sample set
s= {1,2,3,4}
# step 3 using the if else condition with the help of using the  len  founction
if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is not empty.

In [ ]:
30. Create a nested set (hint: use frozenset).

In [19]:

#  stp 1 Create some frozensets
nested_set1 = frozenset({1, 2, 3})
nested_set2 = frozenset({4, 5, 6})
nested_set3 = frozenset({7, 8, 9})

#  step 2 Create a nested structure using a tuple
nested_structure = (nested_set1, nested_set2, nested_set3)

# step 3  Print the nested structure
print(nested_structure)

(frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7}))

In [ ]:
31. Remove an element from a set using the discard method.

In [5]:
#step 1 creating the sample set
s={1,2,3,4}
# step 2 using the discard method
s.discard(2)
# step 3 printing the result
print(s)

{1, 3, 4}

In [ ]:
32. Compare two sets.

In [6]:
# step 1  creating the sample set
s1={12,34,5,6}
s2={23.45, 76,45}
# step 2  using the if else condition 
if s1==s2:
    print(" s1 and s2 are equal")
else:
    print(" s1 not equal to s2")

 s1 not equal to s2

In [ ]:
 33. Create a set from a string.

In [7]:
# step 1 enter the input for the string
s = input(" enter the string")
# step 2 converting the set into string
p=set(s)
# step 3 printing the result
p

 enter the string ilove

{'e', 'i', 'l', 'o', 'v'}

In [ ]:
34. Convert a set of strings to a set of integers.

In [8]:
#  step1  sample Set of strings
string_set = {"1", "2", "3", "4", "5"}

#  step 2 Using a set comprehension to convert strings to integers
int_set = {int(string_element) for string_element in string_set}

# step 3 print result
int_set

{1, 2, 3, 4, 5}

In [ ]:
35. Convert a set of integers to a set of strings.

In [10]:
# step 1   creating the sample set
s={1,2,3,4}
#step 2     converting the into strings
l={str(i) for i in s  }
# step 3 printing the result
l

{'1', '2', '3', '4'}

In [ ]:
36. Create a set from a tuple.

In [14]:
# step1  Create a sample  tuple
my_tuple = (1, 2, 3, 4, 5)

# step 2  Convert the tuple to a set using the set() constructor
my_set = set(my_tuple)
# step 3 printing the result
my_set

{1, 2, 3, 4, 5}

In [ ]:
37. Convert a set to a tuple.

In [15]:
# step 1 create sa,mple  set
s= {1,2,4,5}
# step 2  converting the set into tuple 
f=(s)
# step 3 printing  the result
f

{1, 2, 4, 5}

In [ ]:
38. Find the maximum value in a set.

In [16]:
# step 1 create sample  set
s= {1,2,4,5}
# step 2   using the max operator
m=max(s)
# step 3 printing the result
m

5

In [ ]:
39. Find the minimum value in a set.

In [17]:
# step 1 create sample  set
s= {1,2,4,5,8,9}
# step 2   using the max operator
m=min(s)
# step 3 print result
m

1

In [ ]:
40. Create a set from user input.

In [18]:
#  step 1 Taking user input as a comma-separated string
user_input = input("Enter a comma-separated list of values: ")

#  step 2 Split the input string into a list using a comma as the delimiter
input_list = user_input.split(",")

#  step 3 Create a set from the input list
my_set = set(input_list)

#  step 4 Now, my_set contains the unique elements entered by the user
print(my_set)

Enter a comma-separated list of values:  1,2,3

{'3', '1', '2'}

In [ ]:
41. Check if the intersection of two sets is empty.

In [ ]:
# step 1  Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

#  step 2 Check if the intersection is empty
is_empty_intersection = set1.isdisjoint(set2)
# step 3 using the if -else condition
if is_empty_intersection:
    print("The intersection is empty.")
else:
    print("The intersection is not empty.")

In [ ]:
42. Create a set of the first 5 Fibonacci numbers.

In [1]:
#  step 1 Initialize a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

#  step 2 Initialize the first two Fibonacci numbers
a, b = 0, 1

# step 3  Generate the first 5 Fibonacci numbers and add them to the set
for _ in range(5):
    fibonacci_set.add(a)
    a, b = b, a + b

#  step 4 Now, fibonacci_set contains the first 5 Fibonacci numbers
print(fibonacci_set)

{0, 1, 2, 3}

In [ ]:
43. Remove duplicates from a list using sets.

In [2]:
# step 1 creating the sample list which have 
l=[1,22,22,3,33,44,44]
# stwp 2  using set for removing the duplicates
m= set(l)
# step 3 printing the result
m

{1, 3, 22, 33, 44}

In [ ]:
44. Check if two sets have the same elements, regardless of their count.

In [4]:
#  step 1 Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

#  step 2 Check if the two sets have the same elements, regardless of count
if set1.union(set2) == set1.intersection(set2):
    print("The sets have the same elements, regardless of count.")
else:
    print("The sets do not have the same elements, regardless of count.")

The sets do not have the same elements, regardless of count.

In [ ]:
45. Create a set of the first `n` powers of 2.

In [6]:
# step1  Define the number of powers of 2 you want to generate
n = 5

#  step 2 Using a set comprehension to generate the first 'n' powers of 2
powers_of_2_set = {2 ** i for i in range(n)}

# step 3  Now, powers_of_2_set contains the first 'n' powers of 2
print(powers_of_2_set)

{1, 2, 4, 8, 16}

In [ ]:
46. Find the common elements between a set and a list.

In [8]:
#  step 1 Create a set and a list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# step 2  Convert the list to a set
list_as_set = set(my_list)

#  step 3 Find the common elements between the set and the list
common_elements = my_set.intersection(list_as_set)

# step 4  Now, common_elements contains the common elements
print(common_elements)  # Output: {3, 4, 5}

{3, 4, 5}

In [ ]:
47. Create a set of the first `n` triangular numbers.

In [7]:
# step 1  Define the number of triangular numbers you want to generate
n = 5

#  step 2 Using a set comprehension to generate the first 'n' triangular numbers
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}

# step 3  Now, triangular_numbers_set contains the first 'n' triangular numbers
print(triangular_numbers_set)

{1, 3, 6, 10, 15}

In [ ]:
48. Check if a set contains another set as a subset.

In [17]:
#  step 1 Create two  sample sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# step 2  Check if set2 is a subset of set1
is_subset = set2.issubset(set1)
# step 3 using the if- else condition
if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [ ]:
49. Create a set of alternating 1s and 0s of length `n`.

In [20]:
# step 1  Define the length 'n' of the alternating sequence
n = 10

#  step 2 Initialize an empty set for the alternating sequence
alternating_set = set()

#  step 3 Use a loop to create the alternating sequence
for i in range(n):
    alternating_set.add(1 if i % 2 == 0 else 0)

# step 4  Now, alternating_set contains the alternating sequence
print(alternating_set)  #  real OUTPUT: {0, 1, 0, 1, 0, 1, 0, 1, 0, 1}  
#DUE TO SET INBUILT PROPERTY NOT TO HAVE DUPLICATE THAT'S WHY we get output{0,1}

{0, 1}

In [ ]:
50. Merge multiple sets into one.

In [21]:
#  STEP 1 Create three sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

#  STEP 2 Merge the sets using the union() method
merged_set = set1.union(set2, set3)

#  STEP 3 Now, merged_set contains all the elements from the three sets
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}